*{
    margin: 0;
    padding: 0;
}
 .navbar ul li {
    display: flex;
    margin-left: 2em;
}
.navbar ul{
    margin-top: 1em;
    float: right;
    display: flex;
    margin-right: 1em;
   
}

a, a:visited, a:link{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: green;
}
.navbar{
    padding :2em 15em 2em 15em;
     height: 5em;
      /* background-color: peru; */
  }
  .navbar img{
      margin-top: -1.5em;
      margin-left: 2em;
  }

  .top{
      padding: 1em 21em 1em 18em;
      font-size: 0.95em;
      background-color: #f2f5f8;
      
  }
  .top div{
      float: right;
  }
.top div span{
    margin-left: 0.5em;
}


  
  .allpost{
      background-color: #f0f0f0;
      height: 8em;
      
  }
  .allpost h1{
      padding-left: 8em;
      font-weight: bold;
      padding-top: 1.5em;
      padding-bottom: 0.5em;
  }
.allpost div{
    float: right;
    padding-right: 16em;
    margin-top: -2.6em;
}

.col1{
    padding: 10px 0px 10px 10px;
    width: 60%;
    /* background-color: cadetblue; */
    float: left;
    
}


.col1 img{
    width: 870px;
    height: 490px;
    padding-left: 16em;
    padding-top: 3em;
}


/* -------------------col2 all css starts here --------------------- */

.col2{
    /* background-color: aqua; */
   width: 39%;
   float: right;
   /* background-color: blueviolet; */
   border-left: 0.5px solid black;
   
   margin-top: -574em;
   
}

.col2  ul li {
    padding-left: 3em;
    padding-top: 1em;
    
}
.col2 a:hover{
    color: green;
}
.col2 a{
    color: #3F2803;
}
.col2 i{
    padding-right: 10px;
}

.col2 h2{
    color: #3F2803;
    padding-left: 2em;
    padding-top: 0.9em;
    padding-bottom: 15px;
}
.col2 hr{
    margin-left: 3em;
    margin-top: 2em;
    width: 60%;
}
/* ---------------------col2 css ends here------------------- */
.search-box{
    box-sizing: border-box;
}
.search-box input{
    width: 16em;
    margin-left: 4em;
    padding: 13px;
    border: 1px solid gray;
    color: #4c4841;
    background: #ece9e9;
    border-radius: 5px;
}
.search-box button{
    margin-top: 3em;
    margin-left: 1em;
    border-radius: 4px;
    width: 18%;
    padding: 10px;
    color: white;
    background-color: #80b500;
    font-size: 15px;
    border: 1px solid gray;
    cursor: pointer;
}
.search-box button:hover{
    background-color: maroon;
}

.recent-post a{
    position: absolute;
    padding-left: 1em;
}
.recent-post h6{
    font-size: 0.9em;
}
.calendar iframe{
    margin-left: 3em;
}
.text-widget p{
    color: #555555;
    width: 23em;
    margin-left: 3em;
}

.tags {
    margin-left: 3em;
    width: 45%;
}
.tags button{
    background-color: #f2f5f8;
    outline: none;
    color: #4c4841;
    width: 6em;
    height: 3em;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 6px;
    border: 1px solid gray;
    background-color: ;
}
.tags button:hover{
    background-color: #80b500;
}
.custom-select select{
    width: 16em;
    margin-left: 4em;
    padding: 9px;
    border: 1px solid gray;
    color: #4c4841;
    background: #ece9e9;
    border-radius: 5px;
}




/* ----------------------column1 starts here---------------- */
.col1 h2{
    padding: 10px;
    margin-top: 1em;
    margin-left: 10.5em;
}
.col1 h2 a{
    color: #3F2803;
}
.col1 a:hover{
    color: green;
}
.col1 h5{
    margin-top: 1em;
    margin-left: 20em;
}
.col1  h5 a{
    color: #8a8a8a;
    margin-right: 1em;
}
.col1 i{
    color: green;
}
.col1 i:hover{
    color: maroon;
}
.Readbutton{
    margin-left: 20em;
    margin-top: 1em;
    color: #ffffff;
    border: 1px solid gray;
    padding: 9px;
    border-radius: 5px;
    background-color: #80b500;
}
.col1 p{
    margin-left: 16.5em;
    margin-top: 2em;
    color: #555555;
}
.col1 hr{
    margin-left: 15em;
    margin-top: 5em;
    width: 10em;
}
.bottom-but{
    margin-top: 3em;
margin-left: 30em;

}
.bottom{
    padding: 10px;
    margin-left: 1em;
    border-radius: 50%;
    border: 0.1px solid gray;
    height: 50px;
    width: 50px;
    
}
.bottom:nth-child(1){
    background-color: #80b500;
    color: #ffffff;
}
.bottom:hover{
    background-color: #80b500;
    color: #ffffff;
}
 .newhr{
     
    width: 60em;
    margin-left: 45em;
}
.row1{
    margin-top: 5em;
}
